<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.tentackles.plugins.DPC"
        version="0.0.1">

  <name>DPC</name>
  <license>Apache 2.0 License</license>

  <engines>
    <engine name="cordova-android" version=">=1.8.0"/>
  </engines>

  <asset src="www/DPC.js" target="js/DPC.js"/>

  <js-module src="www/DPC.js" name="DPC">
    <clobbers target="DPC" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="DPC">
        <param name="android-package" value="com.tentackles.plugin.DPC"/>
      </feature>
      
    </config-file>

    <source-file src="src/android/DPC.java" target-dir="src/com/tentackles/plugin/"/>
  </platform>

</plugin>